<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ONPREM" connectionString="siusiak"/>
    <add name="LOCAL" connectionString="siusiak"/>
    <add name="AZURE" connectionString="siusiak"/>
  </connectionStrings>

  <appSettings>
    <add key="InstanceId" value="0"/>
    <add key="TraceLevel" value="31"/>
    <add key="CultureInfo" value="pl-PL"/>
    <add key="HotfolderInterval" value="3"/>
    <add key="CheckTransferedFile" value="true"/>
    <add key="ErrorsMailTo" value="tup-waw@agora.pl"/>
    <add key="SyncMethod" value="UniqueDateAndSizeInDatabase"/>
    <add key="SendGridKey" value="SG.siusiak"/>
  </appSettings>
</configuration>
